{% extends "basic.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
    <div class="container mt-5">  <!-- Add a Bootstrap container with margin-top -->
        <div class="row justify-content-center">  <!-- Center the form -->
            <div class="col-md-6">  <!-- Set the width of the form -->
                <div class="content-section">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Добро пожаловать</legend>

                            <!-- Display form fields -->

                            <div class="form-group">
                                {{ form.full_name.label }}  <!-- Label for full name -->
                                {{ form.full_name }}  <!-- Form field for full name with Bootstrap class already added in forms.py -->
                                {% if form.full_name.errors %}
                                    <div class="text-danger">
                                        {{ form.full_name.errors }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.username.label }}  <!-- Label for username -->
                                {{ form.username }}  <!-- Form field for username with Bootstrap class already added in forms.py -->
                                {% if form.username.errors %}
                                    <div class="text-danger">
                                        {{ form.username.errors }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.email.label }}  <!-- Label for email -->
                                {{ form.email }}  <!-- Form field for email with Bootstrap class already added in forms.py -->
                                {% if form.email.errors %}
                                    <div class="text-danger">
                                        {{ form.email.errors }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.password1.label }}  <!-- Label for password -->
                                {{ form.password1 }}  <!-- Form field for password with Bootstrap class already added in forms.py -->
                                {% if form.password1.errors %}
                                    <div class="text-danger">
                                        {{ form.password1.errors }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.password2.label }}  <!-- Label for password confirmation -->
                                {{ form.password2 }}  <!-- Form field for password confirmation with Bootstrap class already added in forms.py -->
                                {% if form.password2.errors %}
                                    <div class="text-danger">
                                        {{ form.password2.errors }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.consent.label }}  <!-- Label for consent -->
                                {{ form.consent }}  <!-- Checkbox for consent without Bootstrap class -->
                                {% if form.consent.errors %}
                                    <div class="text-danger">
                                        {{ form.consent.errors }}
                                    </div>
                                {% endif %}
                            </div>

                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Регистрация</button>
                        </div>
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Уже есть аккаунт? <a href="{% url 'login' %}" class="ml-2">Вход</a> <!-- Link to login page -->
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}