<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% load bootstrap4 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='slim' %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>{% block title %}Главная{% endblock %}</title>
</head>
<body>

<header class="bg-primary text-white p-3">
    <div class="container d-flex justify-content-between align-items-center">
        <h1 class="h5">Design.pro</h1>
        <div class="d-flex">
            {% if user.is_authenticated %}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Профиль</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'create_application' %}">Создать заявку</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'index' %}">Главная</a>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item">Выйти</button>
                        </form>
                        <a class="dropdown-item" href="{% url 'personal_account' %}">Личный кабинет</a>
                    </div>
                </div>
            {% else %}
                <p class="p-2 text-dark"><a href="{% url 'register' %}" class="text-white">Регистрация</a></p>
                <p class="p-2 text-dark"><a href="{% url 'login' %}" class="text-white">Вход</a></p>
            {% endif %}
        </div>
    </div>
</header>

{% bootstrap_messages %}
{% block content %}
{% endblock %}

</body>
</html>